# Week 3 Capstone assignment 
## Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto


*Developer: Dan Grigore* \\n *Created on: 2020/02/01*


This Jupyter notebook presents the following work:

1. Install any necessary libraries
2. Get the Wikipedia page "**List of postal codes of Canada: M**"
3. Extract into a dataframe the table
4. Process the data according to requirements

Let's start!

#### 1. Install BeautifulSoup4 library for scraping if needed

In [14]:
#install BeautifulSoup4 library for scraping if needed
#!conda install urllib
!pip install BeautifulSoup4
#print('urllib3 library installed!')
print('bs4 package installed!')
!pip install lxml
print('lxml package installed!')
!pip install parse

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/cb/a1/c698cf319e9cfed6b17376281bd0efc6bfc8465698f54170ef60a485ab5d/beautifulsoup4-4.8.2-py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 27.3MB/s eta 0:00:01
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.2 soupsieve-1.9.5
bs4 package installed!
Collecting lxml
  Downloading https://files.pythonhosted.org/packages/dd/ba/a0e6866057fc0bbd17192925c1d63a3b85cf522965de9bc02364d08e5b84/lxml-4.5.0-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 30.6MB/s eta 0:00:01     |██▉                             | 512kB 30.6MB/s eta 0:00:01     |████████▋                       | 1.5MB 30.6MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.0
lxml package installed!
Collecting parse
  Downloading https://files.pythonhosted.org/packages/4a/ea/9a16ff916752241aa80f1a5ec56dc6c6defc5d0e70af2d16904a9573367f/parse-1.14.0.tar.gz
Building wheels for collected packages: parse
  Building wheel for parse (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/d7/07/e0/b74bfdc1d434e73ef79e69e301e82a7825e0c070f7442beb61
Successfully built parse
Installing collected packages: parse
Successfully installed parse-1.14.0

#### 2. Import libraries

In [15]:
#import libraries
import pandas as pd
import numpy as np
from urllib import request
import html5lib
from bs4 import BeautifulSoup
import lxml.html as lh
from parse import *

#### 3. Define variables

In [16]:
#define variables
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
print(url)

https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

#### 4. Define a dataframe and read the table

In [17]:
#define a dataframe and read the table
tables = pd.read_html(url)
tables[0]

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

#### 5. Identify any row with a 'Not assigned' borough

In [18]:
#identify any row with a 'Not assigned' borough
new_df = tables[0][tables[0].Borough != 'Not assigned']

#### 6. Create a the new dataframe from above and display it

In [19]:
#create a the new dataframe from above and display it
new_table = new_df
new_table

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

#### 7. More than one neighborhood can exist in one postal code area. These rows will be combined into one row with the neighborhoods separated with a comma. We define a function foo to join a concatenate by comma character. Testing for M6M Postcode (probably the table in Wikipedia changed lately for M5A Postcode, as for this it is only one value)

In [20]:
#More than one neighborhood can exist in one postal code area. These rows will be combined into one row with the neighborhoods separated with a comma
#define a function foot to join a concatenate by comma character. Testing for M6M Postcode (probably the table in Wikipedia changed lately for M5A Postcode, as for this it is only one value)
foo = lambda a: " , ".join(a) 
#group by Postcode and Borough and aggregate on Neighbourhood
new_result = new_table.groupby(['Postcode','Borough']).agg({'Neighbourhood': foo}).reset_index()
new_result.loc[new_result['Postcode'] == "M6M"]

   Postcode Borough                                      Neighbourhood
80      M6M    York  Del Ray , Keelesdale , Mount Dennis , Silverthorn

#### 8. If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.

In [8]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
new_result['Neighbourhood'] = new_result.where(new_result.ne(1), 'Not assigned').bfill(axis=1)['Borough'].fillna('Not assigned')

#### 9.  Verify replace for 'Not assigned' neighbourhoods with the Borough value (example for PostCode M9A)

In [9]:
# Verify replace for 'Not assigned' neighbourhoods with the Borough value (example for PostCode M9A)
new_result.loc[new_result['Postcode'] == "M9A"]

   Postcode       Borough Neighbourhood
93      M9A  Queen's Park  Queen's Park

#### 10. Adding the shape method to print the number of rows of the dataframe

In [10]:
#Adding the shape method to print the number of rows of the dataframe
new_result.shape

(103, 3)

In [21]:
print('Done!')

Done!